*{
    margin:0;
    padding:0;
}
.navbar{
    background-color: black;
    color:white;
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: right;
}
ul li{
    list-style: none;
    display:inline-block;
    margin:15px 15px;   
    padding:15px;  
}
ul .new{
    margin-top: 10px;
    margin-right:500px;
    padding:15px;
}
ul li:hover,.s1{
    background-color: skyblue;
    border-radius:25px;

}
@media (max-width:750px)
{
    ul li{
        display:block;
        text-align: center;
    }  
    ul .new{
        display:block;
        margin:auto;
    } 
}